
email="yewangfaith@gmail.com"

date = new Date().format( 'yyyyMMdd' )

profiles {

    quest_debug {
        process {
            module="telseq/2.4.1"
        }

        params {

            // genome
            reference = "/projects/b1059/projects/Ye/snpEff/data/Chicken.GRCg6a/genomes/Chicken.GRCg6a.fa"

            params.out = "debug-${date}"
            
            tmpdir = "/projects/b1042/AndersenLab/tmp"

            debug = true
            fq_file_prefix = ""
            //gatk
                missing = 0.95
                min_depth = 5
                qual = 30.0
                mapping_quality = 30.0
                strand_odds_ratio = 5.0
                dv_dp = 0.5
                quality_by_depth = 5.0
                min_depth_individual = 1
                cores = 4
                fisherstrand = 50.0
                readbias = -5.0
        }

        params.out = "CH-${date}"

        report {
              enabled = true
              file = "${params.out}/reports/report.html"
            }

            timeline {
              enabled = true
              file = "${params.out}/reports/timeline.html"
            }
    }




    quest {

        process {
            module="telseq/2.4.1"
            $merge_union_vcf_chromosome {
                cpus = 20
                memory = '80 GB'
            }
        }
    
        params {
            
            // genome
            reference = "/projects/b1059/projects/Ye/snpEff/data/Chicken.GRCg6a/genomes/Chicken.GRCg6a.fa"
            
            tmpdir = "/projects/b1042/AndersenLab/tmp"
            fq_file_prefix = ""
            //gatk
                missing = 0.95
                min_depth = 5
                qual = 30.0
                mapping_quality = 30.0
                strand_odds_ratio = 5.0
                dv_dp = 0.5
                quality_by_depth = 5.0
                min_depth_individual = 1
                cores = 8
                fisherstrand = 50.0
                readbias = -5.0
        }

        params.out = "CH-${date}"

        report {
              enabled = true
              file = "${params.out}/reports/report.html"
            }

            timeline {
              enabled = true
              file = "${params.out}/reports/timeline.html"
            }
    }

}


// min_depth_individual = Minimum allowable depth allowable for variants to be called at the individual level
// min_depth = Minimum allowable depth for variants to be called at the union level
// qual = Minimum quality
// mapping_quality = Minimum mapping quality
// dv_dp = Allelic depth of ALT over total depth; Minimum to allow

manifest {
    homePage = "http://www.andersenlab.org"
    description = "CH Sequencing Pipeline"
    mainScript = "main.nf"
}
